<div class="content">
  <div class="row" [formGroup]="form">
      <label>
        <input type="text" class="form-control" formControlName="name" placeholder="Insert a new name">
      </label>
      <button (click)="addName()" class="form-control">Add Name</button>
    <h2 *ngFor="let value of names">Hello {{value}}</h2>
  </div>

  <div class="row" style="margin-top: 100px;">
      <button (click)="changeActive()" class="form-control">Change</button>
      <div *ngIf="active then activeDiv else inactiveDiv"></div>
      <ng-template #activeDiv>
        <h2>I'm active !</h2>
      </ng-template>
      <ng-template #inactiveDiv>
        <h2>I'm not active !</h2>
      </ng-template>
  </div>
</div>
