<div class="content">
  <div style="margin-bottom: 50px;">
    <ul>
      <li><button (click)="addCSP(0)" class="form-control">Add CSP</button></li>
      <li><button (click)="addCSP(1)" class="form-control">Add CSP 'unsafe-inline'</button></li>
      <li>
        <button (click)="addCSP(2)" class="form-control" style="margin-right: 10px">Add CSP Wildcard *</button>
        <button (click)="addExternalScript()" class="form-control">Import External Script</button>
      </li>
    </ul>
  </div>

  <h3>XSS exploit:</h3>
  <div [formGroup]="form">
    <label>
      <input type="text" class="form-control" formControlName="text" placeholder="Insert text">
    </label>
    <button (click)="parseScript()" class="form-control">Add script</button>
    <br>
  </div>
</div>
