<div class="content">
  <div style="margin-bottom: 50px;">
    <h3>HTML binding example:</h3>
    <p>{{ htmlSnippet }}</p>
  </div>

  <h3>XSS exploit example:</h3>
  <div [formGroup]="form">
    <label>
      <input type="text" class="form-control" formControlName="text" placeholder="Insert text">
    </label>
    <br>
    <!-- Standard binding -->
    <button (click)="setText()" class="form-control">Apply Standard</button>
    <h3> {{ text }}</h3> <br>
    <!-- Exploit using eval -->
    <button (click)="setEvalText()" class="form-control">Apply Eval</button>
    <h3> {{ evalText }}</h3>
  </div>
</div>
